@mixin container {
    width: 1200px;
    margin: 0 auto;
}

@mixin header-footer-style {
    background: $header-footer-background;
    color: $text-head-foot-color;
    text-align: center;
}

@mixin theme-box {
    width: 6 * col-width();
}

@mixin my-border-radius($radius: 15px) {
    border-radius: $radius;
}

@mixin button {
    text-decoration: none;
    background: $header-footer-background;
    color: white;
    padding: 10px 15px;
    border: $ordinary-border;
    @include my-border-radius;
}