// Theme: light, dark
$theme: light;

// For LIGHT theme
// **** COLORS ****
$body-background: white;
$header-footer-background: rgb(75, 15, 60);
$text-head-foot-color: white;
$text-color: black;
$ordinary-border: 2px solid black;

// **** SIZES ****
$header-height: 50px;
$footer-height: 50px;

// For DARK theme
@if $theme == dark {
    $body-background: black;
    $text-color: white;
    $ordinary-border: 2px solid white;
    $header-footer-background: darken(rgb(75, 15, 60), 5%);
}